.wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.speakerContainer {
  display: flex;
  width: 100vw;
  scroll-snap-align: start;
  transition: transform 0.5s ease;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.img {
  height: 20vh;

  @media screen and (min-width: 768px) {
    height: 50vh;
  }

  @media screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.link {
  border-radius: 0.5rem;
  height: 2.5rem;
  margin: 1rem 0;
  color: black;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-red {
    background-color: #ff0000;
  }

  &.is-navy {
    background-color: #000080;
    color: white;
  }

  &.is-olivedrab {
    background-color: #6b8e23;
  }

  &.is-hotpink {
    background-color: #ff69b4;
  }

  &.is-goldenrod {
    background-color: #daa520;
  }

  &.is-tomato {
    background-color: #ff6347;
  }

  &.is-deepskyblue {
    background-color: #00bfff;
  }

  &.is-mediumseagreen {
    background-color: #3cb371;
  }

  &.is-darkorchid {
    background-color: #9932cc;
    color: white;
  }

  &.is-peru {
    background-color: #cd853f;
  }
}

.speakerInfo {
  margin-top: 5rem;
  margin-left: 3rem;
  max-width: 25rem;
}

.speakerInfo h2 {
  margin: 0;
  font-size: 1.5rem;

  @media screen and (min-width: 1024px) {
    font-size: 5rem;
  }
}

.speakerInfo p {
  font-size: 1rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

.btnWrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
