.wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.speakerContainer {
  display: flex;
  width: 100vw;
  scroll-snap-align: start;
  transition: transform 0.5s ease;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.img {
  height: 100vh;
}

.link {
  border-radius: 0.5rem;
  height: 2.5rem;
  margin: 1rem 0;
  background: lightblue;
  color: black;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speakerInfo {
  margin-left: 3rem;
  max-width: 25rem;
}
